// Color Palette
$primary: #ec6d13;
$background-light: #f8f7f6;
$background-dark: #f8f7f6;
$text-light: #f8f7f6;
$text-dark: #f8f7f6;
$text-muted-light: #78716c;
$text-muted-dark: #a8a29e;
$border-light: #e7e5e4;
$border-dark: #44403c;

// Fonts
$font-display: 'Epilogue', sans-serif;