@import "tailwindcss";

@theme {
    --color-primary: #ec6d13;
    --color-background-light: #f8f7f6;

    --color-text-light: #1c1917;
    --color-text-muted-light: #78716c;
    --color-border-light: #e7e5e4;

    --font-display: 'Epilogue', sans-serif;
}

/* Material Symbols Outlined settings */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    
    .nav-link {
        color: #1b1b1b;
    }
    
    .nav-link:hover {
        color: var(--color-primary);
    }
}